/* CSS Document - Chi sono */
 body{font-family: Montserrat, sans-serif;}

 a{text-decoration: none;}

/*HEADER*/
.header {
    position: fixed; 
    padding: 20px;
    z-index: 100;
    width: 100%;
    top: 0px; 
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom:2px solid black;
    }

/*CLASSE LOGO*/ 
.logo {
    padding-left:30px;
    }
 
/*SCRITTA ABOUT*/ 
.about {
    text-align:right; 
    margin-right:30px; 
    padding-top:15px;
    font-size:25px;
    font-weight: 300;
    }

/*HERO*/  
.hero {
    margin-top: 100px;
    padding-left:200px;
    padding-right:200px;
    display: flex;
    justify-content: space-around;
    width:100%;
    } 

/*BLOCCO TESTO*/
.text {
    text-align: left;
    width: 50%;
    font-size:25px;
    font-weight:lighter;
    padding-top:0px;
    display:block;
    } 

@media screen and (max-width:1400px) {

.hero {
    display:flex; 
    justify-content: space around;
    text-align:left;
    margin-left: 0px;
    padding-left:0px;
    margin-top:100px;
    width:100%;
    padding-right:0px;
    height: auto;
        }
}

@media screen and (max-width:768px) {
    
 .hero {
    display:block; 
    text-align:left;
    margin-left: 10px;
    padding-left:0px;
    margin-top:100px;
    width:100%;
    padding-right:0px;
    height: auto;
        }

.about {
    text-align:right;
    margin-right:0px;
    font-weight:normal;
    font-size:30px;
    }

.img {
    height:700px;
    width:100%;
    margin-right:0px;
    margin-left:0px;
    }
        
.text {
    text-align: left;
    width: 100vw;
    font-size:15px;
    padding-top:40px;
    display:block;
    padding-left:0px;
    } 
    
.container-fluid {  
    width:100%; 
    flex-wrap: wrap;
    content-align: center;
    display:block;
    height:auto;
    padding-left:20px;
    } 

.row {
    flex-wrap: wrap;
    content-align: center;  
    text-align:center;
    }  
    
#column {
    display: block;
    padding-right:0px;
    }  

}
